@model IEnumerable<Do_an_1.Models.TbCustomer>
@{
    ViewData["Title"] = "Báo cáo khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Báo cáo</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Khách hàng</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">BÁO CÁO KHÁCH HÀNG</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example3" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Số TT</th>
                                        <th>Khách hàng</th>
                                        <th>Email</th>
                                        <th>Số đơn hàng</th>
                                        <th>Tổng chi tiêu</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        var reports = ViewBag.CustomerReports as dynamic;
                                    }
                                    @if (reports != null)
                                    {
                                        @foreach (var report in reports)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>@report.Customer.Name</td>
                                                <td>@report.Customer.Email</td>
                                                <td>@report.TotalOrders</td>
                                                <td>@string.Format("{0:n0}", report.TotalSpent) đ</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

