@model Do_an_1.Models.ViewModels.CheckoutViewModel
@using Microsoft.AspNetCore.Http
@{
    var hasItems = Model.Items != null && Model.Items.Count > 0;
    var totalAmount = Model.TotalAmount;
}
<div class="checkout__page--area">
    <div class="container">
        <div class="checkout__page--inner d-flex">
            <div class="main checkout__mian">
                <header class="main__header checkout__mian--header mb-30">
                    <h1 class="main__logo--title">
                        <a class="logo logo__left mb-20" href="index.html"><img src="assets/img/logo/nav-log.png"
                                alt="logo" /></a>
                    </h1>
                    <details class="order__summary--mobile__version">
                        <summary class="order__summary--toggle border-radius-5">
                            <span class="order__summary--toggle__inner">
                                <span class="order__summary--toggle__icon">
                                    <svg width="20" height="19" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"
                                            fill="currentColor"></path>
                                    </svg>
                                </span>
                                <span class="order__summary--toggle__text show">
                                    <span>Show order summary</span>
                                    <svg width="11" height="6" xmlns="http://www.w3.org/2000/svg"
                                        class="order-summary-toggle__dropdown" fill="currentColor">
                                        <path
                                            d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z">
                                        </path>
                                    </svg>
                                </span>
                                <span class="order__summary--final__price">@String.Format("{0:N0}", totalAmount)đ</span>
                            </span>
                        </summary>
                        <div class="order__summary--section">
                            <div class="cart__table checkout__product--table">
                                <table class="summary__table">
                                    <tbody class="summary__table--body">
                                        @foreach (var item in Model.Items)
                                        {
                                            <tr class="summary__table--items">
                                                <td class="summary__table--list">
                                                    <div class="product__image two d-flex align-items-center">
                                                        <div class="product__thumbnail border-radius-5">
                                                            <img src="@item.Image" alt="cart-product"
                                                                class="border-radius-5" />
                                                            <span class="product__thumbnail--quantity">@item.Quantity</span>
                                                        </div>
                                                        <div class="product__description">
                                                            <h3 class="product__description--name h4">@item.Title</h3>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="summary__table--list">
                                                    <span class="cart__price">@String.Format("{0:N0}", item.Price)đ</span>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- Mã giảm giá (tạm thời ẩn nếu chưa dùng) -->
                            <div class="checkout__total">
                                <table class="checkout__total--table">
                                    <tbody class="checkout__total--body">
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">Tạm tính</td>
                                            <td class="checkout__total--amount text-right">@String.Format("{0:N0}",
                                                                                                totalAmount)đ</td>
                                        </tr>
                                        <tr class="checkout__total--items">
                                            <td class="checkout__total--title text-left">Phí vận chuyển</td>
                                            <td class="checkout__total--calculated__text text-right">
                                                Sẽ được tính ở bước tiếp theo
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="checkout__total--footer">
                                        <tr class="checkout__total--footer__items">
                                            <td
                                                class="checkout__total--footer__title checkout__total--footer__list text-left">
                                                Tổng cộng
                                            </td>
                                            <td
                                                class="checkout__total--footer__amount checkout__total--footer__list text-right">
                                                @String.Format("{0:N0}", totalAmount)đ</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </details>
                    <nav>
                        <ol class="breadcrumb checkout__breadcrumb d-flex">
                            <li class="breadcrumb__item breadcrumb__item--completed d-flex align-items-center">
                                <a class="breadcrumb__link" asp-controller="Cart" asp-action="Index">Giỏ hàng</a>
                                <svg class="readcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" width="17.007"
                                    height="16.831" viewBox="0 0 512 512">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path>
                                </svg>
                            </li>

                            <li class="breadcrumb__item breadcrumb__item--current d-flex align-items-center">
                                <span class="breadcrumb__text current">Thông tin</span>
                                <svg class="readcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" width="17.007"
                                    height="16.831" viewBox="0 0 512 512">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path>
                                </svg>
                            </li>
                            <li class="breadcrumb__item breadcrumb__item--blank d-flex align-items-center">
                                <span class="breadcrumb__text">Giao hàng</span>
                                <svg class="readcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" width="17.007"
                                    height="16.831" viewBox="0 0 512 512">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-width="48" d="M184 112l144 144-144 144"></path>
                                </svg>
                            </li>
                            <li class="breadcrumb__item breadcrumb__item--blank">
                                <span class="breadcrumb__text">Thanh toán</span>
                            </li>
                        </ol>
                    </nav>
                </header>
                <main class="main__content_wrapper">
                    <form asp-action="CreatePayment" asp-controller="Checkout" method="post">
                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                        <div class="checkout__content--step section__contact--information">
                            <div
                                class="section__header checkout__section--header d-flex align-items-center justify-content-between mb-25">
                                <h2 class="section__header--title h3">Thông tin liên hệ</h2>
                            </div>
                        </div>
                        <div class="checkout__content--step section__shipping--address">
                            <div class="section__shipping--address__content">
                                <div class="row">
                                    <div class="col-lg-6 mb-12">
                                        <div class="checkout__input--list">
                                            <label asp-for="Form.FullName">
                                                <input asp-for="Form.FullName"
                                                    class="checkout__input--field border-radius-5"
                                                    placeholder="Họ và tên" type="text" value="@Model.Form.FullName" />
                                            </label>
                                            <span asp-validation-for="Form.FullName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-12 mb-12">
                                        <div class="checkout__input--list">
                                            <label asp-for="Form.Address">
                                                <input asp-for="Form.Address"
                                                    class="checkout__input--field border-radius-5"
                                                    placeholder="Địa chỉ giao hàng" type="text"
                                                    value="@Model.Form.Address" />
                                            </label>
                                            <span asp-validation-for="Form.Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-12">
                                        <div class="checkout__input--list">
                                            <label asp-for="Form.PhoneNumber">
                                                <input asp-for="Form.PhoneNumber"
                                                    class="checkout__input--field border-radius-5"
                                                    placeholder="Số điện thoại" type="text"
                                                    value="@Model.Form.PhoneNumber" />
                                            </label>
                                            <span asp-validation-for="Form.PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-12">
                                        <div class="checkout__input--list">
                                            <label asp-for="Form.Note">
                                                <input asp-for="Form.Note"
                                                    class="checkout__input--field border-radius-5"
                                                    placeholder="Ghi chú (tuỳ chọn)" type="text" />
                                            </label>
                                            <span asp-validation-for="Form.Note" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                                <div class="checkout__checkbox">
                                    <input class="checkout__checkbox--input" id="check2" type="checkbox" />
                                    <span class="checkout__checkbox--checkmark"></span>
                                    <label class="checkout__checkbox--label" for="check2">
                                        Lưu thông tin này cho lần sau (tuỳ chọn)</label>
                                </div>
                            </div>
                        </div>
                        <div class="checkout__content--step__footer d-flex align-items-center">
                            @if (Context.Session.GetString("CustomerId") != null)
                            {
                                <button type="submit" name="PaymentMethod" value="VNPAY"
                                    class="continue__shipping--btn primary__btn border-radius-5">
                                    Thanh toán với VNPAY
                                </button>

                                <button type="submit" name="PaymentMethod" value="cod" style="margin-left: 10px;"
                                    class="continue__shipping--btn primary__btn border-radius-5">
                                    Thanh toán khi nhận hàng
                                </button>
                            }
                            else
                            {
                                <p class="mb-0">
                                    <a href="/Customer/Index" class="text-primary">Đăng nhập</a> để thanh toán.
                                </p>
                            }
                            <a class="previous__link--content" asp-controller="Cart" asp-action="Index">Quay lại giỏ
                                hàng</a>
                        </div>
                    </form>
                </main>
                <footer class="main__footer checkout__footer">
                    <p class="copyright__content">
                        Copyright © 2022
                        <a class="copyright__content--link text__primary" href="index.html">Suruchi</a>
                        . All Rights Reserved.Design By Suruchi
                    </p>
                </footer>
            </div>
            <aside class="checkout__sidebar sidebar">
                <div class="cart__table checkout__product--table">
                    <table class="cart__table--inner">
                        <tbody class="cart__table--body">
                            @foreach (var item in Model.Items)
                            {
                                <tr class="cart__table--body__items">
                                    <td class="cart__table--body__list">
                                        <div class="product__image two d-flex align-items-center">
                                            <div class="product__thumbnail border-radius-5">
                                                <img src="@item.Image" alt="cart-product" class="border-radius-5" />
                                                <span class="product__thumbnail--quantity">@item.Quantity</span>
                                            </div>
                                            <div class="product__description">
                                                <h3 class="product__description--name h4">@item.Title</h3>
                                                <!-- Có thể thêm thông tin variant tại đây nếu mô hình có -->
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__table--body__list">
                                        <span class="cart__price">@String.Format("{0:N0}", item.Price)đ</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="checkout__discount--code">
                    <form class="d-flex" action="#">
                        <label>
                            <input class="checkout__discount--code__input--field border-radius-5"
                                placeholder="Gift card or discount code" type="text" />
                        </label>
                        <button class="checkout__discount--code__btn primary__btn border-radius-5" type="submit">
                            Apply
                        </button>
                    </form>
                </div>
                <div class="checkout__total">
                    <table class="checkout__total--table">
                        <tbody class="checkout__total--body">
                            <tr class="checkout__total--items">
                                <td class="checkout__total--title text-left">Subtotal</td>
                                <td class="checkout__total--amount text-right">@String.Format("{0:N0}", totalAmount)đ
                                </td>
                            </tr>
                            <tr class="checkout__total--items">
                                <td class="checkout__total--title text-left">Shipping</td>
                                <td class="checkout__total--calculated__text text-right">Calculated at next step</td>
                            </tr>
                        </tbody>
                        <tfoot class="checkout__total--footer">
                            <tr class="checkout__total--footer__items">
                                <td class="checkout__total--footer__title checkout__total--footer__list text-left">Total
                                </td>
                                <td class="checkout__total--footer__amount checkout__total--footer__list text-right">
                                    @String.Format("{0:N0}", totalAmount)đ
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </aside>
        </div>
    </div>
</div>
