<main class="main__content_wrapper">
    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title text-white mb-25">
                            Giỏ Hàng
                        </h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items">
                                <a class="text-white" href="index.html">Trang Chủ</a>
                            </li>
                            <li class="breadcrumb__content--menu__items">
                                <span class="text-white">Giỏ Hàng</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- cart section start -->
    <section class="cart__section section--padding">
        <div class="container-fluid">
            <div class="cart__section--inner">
                <form action="#">
                    <h2 class="cart__title mb-40">Giỏ Hàng</h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cart__table">
                                <table class="cart__table--inner">
                                    <thead class="cart__table--header">
                                        <tr class="cart__table--header__items">
                                            <th class="cart__table--header__list">Sản Phẩm</th>
                                            <th class="cart__table--header__list">Khối lượng</th>
                                            <th class="cart__table--header__list">Giá</th>
                                            <th class="cart__table--header__list">Số Lượng</th>
                                            <th class="cart__table--header__list">Tổng Cộng</th>
                                        </tr>
                                    </thead>
                                    <tbody class="cart__table--body">
@foreach (var item in Model) {
<tr>
    <td>@item.Title</td>
    <td>@item.Weight</td>
    <td>@String.Format("{0:N0}", item.Price)</td>
    <td>
        <input type="number" value="@item.Quantity" min="1" data-id="@item.ProductId" class="cart-qty"/>
    </td>
    <td>@String.Format("{0:N0}", (item.Price ?? 0) * item.Quantity)</td>
</tr>
}
                                    </tbody>
                                </table>
                                <div class="continue__shopping d-flex justify-content-between">
                                    <a class="continue__shopping--link" href="shop.html">Tiếp tục mua sắm</a>
                                    <button class="continue__shopping--clear" type="submit">
                                        Xóa giỏ hàng
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart__summary border-radius-10">
                                <div class="coupon__code mb-30">
                                    <h3 class="coupon__code--title">Mã Giảm Giá</h3>
                                    <p class="coupon__code--desc">Nhập mã giảm giá nếu bạn có.</p>
                                    <div class="coupon__code--field d-flex">
                                        <label>
                                            <input class="coupon__code--field__input border-radius-5"
                                                placeholder="Nhập mã giảm giá" type="text" />
                                        </label>
                                        <button class="coupon__code--field__btn primary__btn" type="submit">
                                            Áp Dụng
                                        </button>
                                    </div>
                                </div>
                                <div class="cart__note mb-20">
                                    <h3 class="cart__note--title">Ghi Chú</h3>
                                    <p class="cart__note--desc">Thêm ghi chú cho người bán...</p>
                                    <textarea class="cart__note--textarea border-radius-5"></textarea>
                                </div>
                                <div class="cart__summary--total mb-20">
                                    <table class="cart__summary--total__table">
                                        <tbody>
                                            <tr class="cart__summary--total__list">
                                                <td class="cart__summary--total__title text-left">
                                                    TỔNG PHỤ
                                                </td>
                                                <td class="cart__summary--amount text-right">
                                                    860.000đ
                                                </td>
                                            </tr>
                                            <tr class="cart__summary--total__list">
                                                <td class="cart__summary--total__title text-left">
                                                    TỔNG CỘNG
                                                </td>
                                                <td class="cart__summary--amount text-right">
                                                    860.000đ
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart__summary--footer">
                                    <p class="cart__summary--footer__desc">
                                        Phí vận chuyển & thuế sẽ được tính khi thanh toán
                                    </p>
                                    <ul class="d-flex justify-content-between">
                                        <li>
                                            <button class="cart__summary--footer__btn primary__btn cart" type="submit">
                                                Cập Nhật Giỏ Hàng
                                            </button>
                                        </li>
                                        <li>
                                            <a class="cart__summary--footer__btn primary__btn checkout"
                                                href="checkout.html">Thanh Toán</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- cart section end -->
</main>
