@model Do_an_1.Models.TbMenu

@{
    ViewData["Title"] = "Delete";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Form</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Validation</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Xóa Menu</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                            <form asp-action="Delete" class="needs-validation" novalidate="">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Tiêu đề
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.Title)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Alias
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.Alias)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Mô tả
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.Description)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Mức
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.Levels)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Menu cha
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.ParentId)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Vị trí
                                                
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.Position)
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-lg-1 col-form-label" for="validationCustom06">
                                                Hiển thị
                                            </label>
                                            <div class="col-lg-6">
                                                @Html.DisplayFor(model => model.IsActive)
                                            </div>
                                        </div>
                                        <div class="col-lg-8 ms-auto">
                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                            <a asp-action="Index" class="btn btn-primary">Quay lại</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>